*{
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 80%;
    height: 1500px;
    display: grid;
    grid-template-columns: repeat(4 25%);
    grid-template-rows:  repeat(6, 16%);
    grid-template-areas: 
    "cabecera cabecera cabecera cabecera"
    "aside art1 art1 art2"
    "aside art1 art1 art2"
    "aside art3 art4 art5"
    "aside art3 art4 art5"
    "footer footer footer footer"
    ; 
    font-family: 'Shadows Into Light', cursive;
    column-gap: 1vw;
    row-gap: 1vw;
}

.cabecera{
    grid-area: cabecera;
    justify-self: center;
    align-self: center;
}
.cabecera > div{
    color: green;
    font-size: 1vw;
}

.aside{
    grid-area: aside;
}
.aside > div{
    color: green;
    padding: 1vw;
}

.art1{
    grid-area: art1;
    justify-self: center;
}
.art1 > figure{
    padding: 1%;
    border-radius: 8px;
    border: 2px black solid;
    text-align: center;
}
.art1 > figure > img{
    border-radius: 8px;
    width: 60%;
}
.art1 > figure > figcaption{
    font-size: 1vw;
    color: green;
    padding-top: 5%;
}

.art2{
    grid-area: art2;
    justify-self: center;
}

.art2 > figure{
    padding: 1%;
    padding-bottom: 20%;
    border-radius: 8px;
    border: 2px black solid;
    text-align: center;
}
.art2 > figure > img{
    border-radius: 8px;
    width: 60%;
}
.art2 > figure > figcaption{
    font-size: 1vw;
    color: green;
    padding-top: 5%;
}

.art3{
    margin-top: 10%;
    justify-self: center;
    grid-area: art3;
}

.art3 > figure{
    padding: 1%;
    border-radius: 8px;
    border: 2px black solid;
    text-align: center;
}
.art3 > figure > img{
    border-radius: 8px;
    width: 60%;
}
.art3 > figure > figcaption{
    font-size: 1vw;
    color: green;
    padding-top: 5%;
    align-self: baseline;
}


.art4{
    margin-top: 10%;
    justify-self: center;
    grid-area: art4;
}

.art4 > figure{
    padding: 1%;
    border-radius: 8px;
    border: 2px black solid;
    text-align: center;
}
.art4 > figure > img{
    border-radius: 8px;
    width: 60%;
}
.art4 > figure > figcaption{
    font-size: 1vw;
    color: green;
    padding-top: 5%;
    align-self: baseline;
}

.art5{
    margin-top: 10%;
    justify-self: center;
    grid-area: art5;
}

.art5 > figure{
    padding: 1%;
    border-radius: 8px;
    border: 2px black solid;
    text-align: center;
}
.art5 > figure > img{
    border-radius: 8px;
    width: 60%;
}
.art5 > figure > figcaption{
    font-size: 1vw;
    color: green;
    padding-top: 5%;
    align-self: baseline;
}

.footer{
    grid-area: footer;
    border-top: 2px black solid;
}

.footer > div{
    color: darkcyan;
    font-size: 1vw;
    padding-top: 2%;
    display: inline-block;
}

.footer #copy{
    text-align: center;
}

.footer #social{
    text-align: right;
}